<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @student.name %></h1>
			<p class="description"><%= @student.introduction %></p>

		</div>
	</div>

	<div id="breadcrumb">
		<%= link_to students_path do %>
			All students
			<span>/</span>
			<%= @student.name %>
			<span>/</span>



		<% end %>
	</div>
  <div id="episode_content">
		<div class="wrapper_skinny">
      <h2><%= @post.title %></h2>
			<p class="description"><%= @post.description %></p>
		</div>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @posts.each do |post| %>
					<li class="cf">
						<div class="episode_thumbnail">
						</div>
						<div class="episode_overview">
							<h2><%= link_to post.title, student_post_path(@student, post) %></h2>
							<p class="description"><%= truncate(post.description, length: 150) %></p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
